<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlFcJY6Qkuu94sWmN4p-ltZPIT_6W8MF4</string>
	<key>GCM_SENDER_ID</key>
	<string>823664144424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotifyclone</string>
	<key>PROJECT_ID</key>
	<string>spotify-clone-597c8</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-clone-597c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823664144424:ios:3c79da365a80a55bd0451d</string>
</dict>
</plist>